<div class='header'>
  <div class='header-left'>
    <h2>Ford Burgess</h2>
    <h4>London, UK</h4>
  </div>
  <div class='header-right'>
    <a>Programming</a>
    <a>Sports</a>
    <a>Travel</a>
  </div>
</div>
