<div class='home-images'>
  <img src='assets/images/montenegro.jpeg' />
  <img src='assets/images/stockholm.jpeg' />
  <img src='assets/images/sanmiguel.jpeg' />
</div>
<div class='home-bio'>
  <div class='bio-sub-cont'>
    <div class='bio-sub-left'>
      <div class='left-info'>
        <h1>Bio</h1>
        <p className='bio-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class='left-contacts'>
        <a>fordburgess1@gmail.com</a>
        <a href='https://www.instagram.com/ford_burgess/'>@ford_burgess</a>
        <a href='https://www.linkedin.com/in/ford-burgess/'>linkedin.com/in/ford-burgess</a>
      </div>
    </div>
    <div class='bio-sub-right'>
      <img src='assets/images/ford1.jpeg' id='ford1'/>
    </div>
  </div>
</div>
<div class='home-projects'>
  <div class='projects-header'>
    <h2>Projects</h2>
  </div>
  <div class='projects-display'>
    <% @projects.each do |p| %>
      <%= render 'shared/project', :props => {
        title: p.title,
        description: p.description,
        tech: p.tech,
        background: p.background,
        width: p.width,
        color: p.color,
        font: p.font
        } %>
    <% end %>
  </div>
</div>
