<div class='home-images'>
  <img src='assets/sanmig1.jpeg' />
  <img src='assets/sanmig2.jpeg' />
  <img src='assets/sanmig3.jpeg' />
</div>
<div class='home-bio'>
  <div class='bio-sub-cont'>
    <div class='bio-sub-left'>
      <div class='left-info'>
        <h1>Bio</h1>
        <p className='bio-text'>
          As a software engineer, I'm passionate about building
          things that don't exist, and building things that already exist
          to be even better.
          </br>
          </br>
          I first gained interest in programming when I took an "Intro to C Course"
          that was required for the Aerospace Degree I was working on at the time.
          I knew programming was for me because although my professor was insufferable,
          I enjoyed the class nonetheless.
          </br>
          </br>
          Since then, I've gone on to specialize in fullstack development, building apps in
          React/JS and Ruby on Rails. I've had the pleasure of
        </p>
      </div>
      <div class='left-contacts'>
        <a>fordburgess1@gmail.com</a>
        <a href='https://www.instagram.com/ford_burgess/'>@ford_burgess</a>
        <a href='https://www.linkedin.com/in/ford-burgess/'>linkedin.com/in/ford-burgess</a>
      </div>
    </div>
    <div class='bio-sub-right'>
      <img src='assets/ford1.jpeg' id='ford1'/>
    </div>
  </div>
</div>
<div class='home-projects'>
  <div class='projects-header'>
    <h2>Projects</h2>
  </div>
  <div class='projects-display'>
    <% @projects.each do |p| %>
      <%= render 'shared/project', :props => {
        title: p.title,
        description: p.description,
        tech: p.tech,
        background: p.background,
        width: p.width,
        color: p.color,
        color2: p.color2,
        font_color: p.font_color,
        font: p.font,
        font2: p.font2
        } %>
    <% end %>
  </div>
</div>
