.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24vh;
  padding: 0px 75px 0px 75px;
}
.header-right {
  display: flex;
  justify-content: space-between;
  width: 33%;
}
