.project-self {
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white !important;
  font-size: 33px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  h1 {
    margin-bottom: -20px;
  }
  .initial {
    display: block;
    animation: Slide_down 0.4s ease;
  }
  .secondary {
    animation: Slide_up 0.4s ease;
    display: none;
  }

  &:hover {
    .initial {
      display: none;
      animation: Slide_up 0.4s ease;
    }
    .secondary {
      display: block;
    }
  }
  @keyframes Slide_up {
    100% {
      transform: translateY(0px)
    }
    0% {
      transform: translateY(100px)
    }
  }
  @keyframes Slide_down {
    50% {
      transform: translateY(0px)
    }
    100% {
      transform: translateY(100px);
    }
  }
}
