.project-self {
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white !important;
  font-size: 33px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  h1 {
    margin-bottom: -20px;
  }
  .initial {
    display: block;
  }
  .secondary {
    display: none;
  }
}
