// fonts
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&family=Merriweather:wght@300&family=Montserrat:ital,wght@1,200&family=Petit+Formal+Script&display=swap");
// components
@import "components/header";
@import "components/project";
// pages
@import "pages/home";

body {
  background-color: rgb(230, 225, 216);
  font-family: 'Merriweather';
  margin: 0;
}
